<% if obj.errors.any? %>
  <div id="error_explanation" class="text-danger">
    <h3><%= pluralize(obj.errors.count+1, "つのエラーがあります") %></h3>
    <ul>
      <% obj.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      <li>再度アレルギー表示を入力してください。</li>
    </ul>
  </div>
<% end %>