<div class="container">
  <div class="row">
    <div class="text-center col-md-12 mt-3">
      <h1>
        About
      </h1>
      ながのCAKEは全国発送可能なケーキ屋さんです。</br>
      お子様からお年寄りの方までお召し上がりいただけるよう、</br>
      様々なバリエーションをご用意しております。</br>
      また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</br>
      ぜひご注文ください。
    </div>
    <div class="col-md-6 mt-3">
      <%= image_tag asset_path('cafe_exterior.jpg'), class: 'rounded img-fluid' %>
    </div>
    <div class="col-md-6 mt-4">
      <div>
        <h5>NaganoCake Shop</h5>
          <p>
            Access　長野県○○市○○町1-2-3<br/>
            Tel: 0120-1234-1234<br/>
            maii: 0000@meganekko.com
          </p>
      </div>
    </div>
  </div>
</div>