<div class="container">
  <div class="row">
    <div class="col-md-10 mx-auto">
      <h1>商品一覧（全<%= @items.count %>件）</h1>

      <div class="items-all">
        <div>

        </div>
      </div>

    </div>
  </div>
</div>