<div class="container align-items-center mt-5 pt-5">
  <div class="col text-center">
    <h1>ご利用ありがとうございました</h1>
  </div>
  <div class="d-flex justify-content-center mx-auto mt-5">
    <%= link_to "トップページへ戻る", root_path, class: "btn btn-success mx-auto col-3" %>
  </div>
</div>
