/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';
 @import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300&display=swap');

 * {
  font-family: 'M PLUS Rounded 1c', sans-serif;
 }

 .main {
  margin-bottom: 50px;
 }

 header {
  background: linear-gradient(#FFDAB9, #FFF);
 }

 footer {
  background: linear-gradient(#FFF, #FFDAB9);
 }

 .top-page-top {
  width: 100%;
  background-image: url("cheese_cake_m.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
 }


 .card-image-top {
  width: 200px;
  height: 124px;
  object-fit: cover;
 }

 .card {
  border: 1px solid #ddd;
  width: 300px;
  height: 226px;
  margin: 20px auto 0;
  transition-duration: 0.5s;
 }
 .card {
  width: 100%;
  cursor: pointer;
 }
 .card:hover{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transform: translateY(-10px);
  transition-duration: 0.5s;
 }
 
 
 @keyframes wave {
  100% {
    transform: translate3d(0, -10px, 0);
  }
 }
 
 .wave {
  display: block;
  width: 150px;
  text-align: center;
 }
 
 .wave span {
  display: inline-block;
  color: #fff;
  font-size: 2em;
 }
 
 .wave:hover span {
  animation-name: wave;
  animation-duration: .2s;
  animation-direction: alternate;
  animation-iteration-count: 2;
 }
 
 .wave:hover span:nth-child(2) {
  animation-delay: .1s;
 }
 
 .wave:hover span:nth-child(3) {
  animation-delay: .2s;
 }
 
 .wave:hover span:nth-child(4) {
  animation-delay: .3s;
 }
 
 .wave:hover span:nth-child(5) {
  animation-delay: .4s;
 }
 
 .wave:hover span:nth-child(6) {
  animation-delay: .5s;
 }