<div class="mt-3 dropdown">
  <button class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    ジャンル検索
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a href="/items" class="dropdown-item active">すべて</a>
      <% @genres.each do |genre| %>
        <a href="/items?name=<%= genre.name %>" class="dropdown-item"><%= genre.name %></a>
      <% end %>
</div>