<div class="mt-3 d-flex align-items-center">
  <h5 class="d-inline-block mb-0">ジャンル検索</h5>
  <div class="d-inline-block ml-3">
    <%= form_with url: items_search_path(genre), method: :get, local: true do |f| %>
      <%= f.collection_select :genre_id, Genre.all, :id, :name, prompt: "すべて", required: "required" %>
      <%= f.submit '検索', class: "btn btn-info" %>
    <% end %>
  </div>
</div>